<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Forgot Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- CORE CSS FRAMEWORK - START -->
    <link href="~/Content/assets/css/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/animate.min.css" rel="stylesheet" type="text/css" />
    <!-- CORE CSS FRAMEWORK - END -->
    <!-- CORE CSS TEMPLATE - START -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet" type="text/css" />
    <!-- CORE CSS TEMPLATE - END -->
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid header-top-box">
            <div class="logo-top pull-left">
                <a href="#">
                    <img src="~/Content/assets/images/logo-sign.png" alt=""></a>
            </div>
            <div class="pull-right admin-icon">
                <a href="#">
                    <img src="~/Content/assets/images/user.png" alt=""></a>
            </div>
        </div>
        <div class="container-fluid nav-box"></div>
    </nav>
    <!-- START CONTAINER -->
    <div class="page-container row-fluid">

        <!-- START CONTENT -->
        <section id="main-content" class=" sidebar_shift  sidebar_shift-reg">
            <section class="wrapper wrap-box">
                <div class="clearfix"></div>
                <div class="col-md-3"></div>
                <div class="col-md-6 col-sm-offset-3 col-md-offset-0 col-sm-6">
                    <section class="box">
                        <header class="panel_header box-heading">
                            <h2 class="title pull-left">Forgot Password</h2>
                        </header>
                        @RenderBody()
                    </section>
                </div>
                <div class="col-md-3"></div>
            </section>
        </section>
        <!-- END CONTENT -->

    </div>
    <!-- END CONTAINER -->
   <!-- START FOOTER -->
<footer class="footer">
  <div class="container">
    <p class="text-muted">Copyright © 2015</p>
  </div>
</footer>
<!-- END FOOTER --> 

<!-- CORE JS FRAMEWORK - START --> 
<script src="~/Content/assets/js/jquery-1.11.2.min.js" type="text/javascript"></script> 
<script src="~/Content/assets/js/bootstrap.min.js" type="text/javascript"></script> 
<!-- CORE JS FRAMEWORK - END --> 
<!-- CORE TEMPLATE JS - START --> 
<script src="~/Content/assets/js/scripts.js" type="text/javascript"></script> 
<!-- END CORE TEMPLATE JS - END --> 

    <script type="text/javascript">
        $(document).ready(function () {
            $('#usrEmail').focusout(function () {
                var name = $("#usrEmail").val();
                var status = $("#divUserStatus");
                status.html("Checking....").removeClass();
                debugger;
                $.post("/Account/IsUserAvailable", { username: name },
                    function (data) {
                        if (data == "Invalid") {
                            status.html("Kindly enter a valid EmailId").addClass("red");
                            return;
                        }
                        if (data == true) {
                            $.post("/Account/FetcAllPasswordQuestions", { username: name },
                               function (data) {
                                   $('#SecQuestion1').val(data[0]);
                                   $('#SecQuestion2').val(data[1]);
                                   $('#SecQuestion3').val(data[2]);

                               });
                            status.html("").removeClass();
                            return;
                        }
                        if (name == "") {
                            status.html("Email value is required to check availability").addClass("red");
                            return;
                        }
                        else {
                            status.html(name + " is not found!").addClass("red");
                            return;
                        }
                    });
            });
        });

        $(document).ready(function () {
            $('input').focusout(function () {
                if ((this.id == "SecretAnswer1") || (this.id == "SecretAnswer2") || (this.id == "SecretAnswer3")) {
                    var name = this.id;
                    var status1 = $("#divAns1Status");
                    var status2 = $("#divAns2Status");
                    var status3 = $("#divAns3Status");
                    //status.html("Checking....").removeClass();
                    if ($('#' + name).val() == "") {
                        return;
                    }
                    $.post("/Account/CheckAnswersForPasswordQuestions", { answer: name, selectedValue: $('#' + name).val() },
                        function (data) {
                            if (data == false) {
                                if (name == "SecretAnswer1") {
                                    status1.html("Secrect question answer is Invalid").addClass("red");
                                }
                                if (name == "SecretAnswer2") {
                                    status2.html("Secrect question answer is Invalid").addClass("red");
                                }
                                if (name == "SecretAnswer3") {
                                    status3.html("Secrect question answer is Invalid").addClass("red");
                                }
                            }
                            else {
                                status1.html("").removeClass();
                                status2.html("").removeClass();
                                status3.html("").removeClass();
                            }
                        });
                }
            });
        });
    </script>
</body>
</html>
