@{
    ViewBag.Title = "KPI";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@using (@Html.BeginForm("KPI", "DashBoard"))
{
    <!-- START CONTAINER -->
    <div class="page-container row-fluid">
        <!-- START CONTENT -->
        <section id="main-content" class="sidebar_shift sidebar_shift-reg">
            <section class="wrapper sec-warp-box">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pan0 top-box-search">
                    <div class="page-title">
                        <div class="col-md-3 pull-right mart10">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-5" style="text-align: right;">Kpi Search</label>
                                    <div class="col-sm-7">
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm" placeholder="Kip Search" id="compSearch" onclick="loadCompanyName();" />
                                            <span class="input-group-btn">
                                                <button class="btn btn-info input-sm" type="button"><i class="glyphicon glyphicon-search" onclick="SearchCompanyProfile();"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="clearfix"></div>
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mart10">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <section class="box mar0">
                            <div class="row">
                                <section style="margin-top: 10px; display: inline-block; width: 100%;" class="wrapper">
                                    <div class="clearfix"></div>
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6 col-sm-offset-3 col-md-offset-0 col-sm-6">
                                        <section class="box">
                                            <header class="panel_header box-heading">
                                                <h2 class="title pull-left">KPI / Metrics</h2>
                                            </header>
                                            <form action="#" class="form-horizontal" id="Forgot">
                                                <div class="content-body">
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4">Company Name<span class="red">*</span></label>
                                                                <div class="col-md-8">
                                                                    <input type="text" id="compname" required="required" name="companyName" placeholder="Company Name" value="@(ViewBag.CompanyName ?? String.Empty)"  class="form-control input-sm" readonly="true">
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4">Kpi Name <span class="red">*</span></label>
                                                                <div class="col-md-8">
                                                                    <input type="text" id="kpiname" required="required" name="kpinam" placeholder="Kpi Name" class="form-control input-sm">
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4">UserType<span class="red">*</span></label>
                                                                <div class="col-md-8">
                                                                    <select class="form-control input-sm" name="User-Type" id="OptSelect" required="required">
                                                                        <option>Select</option>
                                                                        <option value="1">Admin</option>
                                                                        <option value="2">Principle</option>
                                                                        <option value="3">User</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4">Short Name<span class="red">*</span></label>
                                                                <div class="col-md-8">
                                                                    <input type="text" id="shortname" required="required" name="sname" placeholder="Short Name" class="form-control input-sm">
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4">Module Name<span class="red">*</span></label>
                                                                <div class="col-md-8">
                                                                    <input type="text" id="modulename" required="required" name="mname" placeholder="Security Answer 1" class="form-control input-sm">
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4">Goal<span class="red">*</span></label>
                                                                <div class="col-md-8">
                                                                    <input type="text" id="goal" required="required" name="goal" placeholder="Goal" class="form-control input-sm">
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4">Display Order<span class="red">*</span></label>
                                                                <div class="col-md-8">
                                                                    <input type="text" id="displayorder" required="required" name="Display-Order" placeholder="Display Order" class="form-control input-sm">
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4">Active<span class="red">*</span></label>
                                                                <div class="col-md-8">
                                                                    <label class="col-md-4">
                                                                        <input type="radio" id="act" name="actve">&nbsp;&nbsp;Active</label>
                                                                    <label class="col-md-4">
                                                                        <input type="radio" id="inact" name="actve">&nbsp;&nbsp;Inactive</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-12 page-footer-box clearfix">
                                                    <div class="pull-right col-md-offset-4">
                                                        <button type="submit" class="btn btn-success input-sm" onclick="SubmitKPI(); return false;">Submit</button>
                                                        <button type="reset" class="btn btn-success input-sm">Cancel</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </section>
                                    </div>
                                    <div class="col-md-3"></div>
                                </section>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
        </section>
        <!-- END CONTENT -->

    </div>
    <script>
        function SubmitKPI() {
            var active;
            if ($('#act').is(':checked')) { active = 1; } else { active = 0; };
            var model = {
                "CompanyName": $('#compname').val(),
                "KPIName": $('#kpiname').val(),
                "ModuleName": $('#modulename').val(),
                "UserTypes": $('#OptSelect').val(),
                "ShortName": $('#shortname').val(),
                "Goal": $('#goal').val(),
                "DisplayOrder": $('#displayorder').val(),
                "Active": active
            }

            $.ajax({
                type: "POST",
                //url: hostAddress + "/ApprovalTask/CreateMetadata_Test",
                url: "@Url.Action("KPIInsert", "Dashboard")",
                data: '{ "model": ' + JSON.stringify(model) + '}',
                contentType: 'application/json; charset=utf-8',
                dataType: 'text json',
                async: false,
                cache: false,
                success: function (data) {
                    if (data) { alert('Data inserted successfully') }
                    else { alert('Cannot update selection values now!!') };


                },
                error: function () {
                    alert('Due to connectivity issue data is not inserted please try again or try after sometime!!');
                }
            });

        }


    </script>

    <!-- END CONTAINER --> 
}
