@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@using (@Html.BeginForm("DefaultPage", "DashBoard")) 
{

<div class="page-container row-fluid"> 
  <!-- START CONTENT -->
  
  <!-- END CONTENT --> 
  
</div> 
}
